/*body,.table,.table-responsive{
	background-color: #1f1f1f; 
    color: #f1eded; 
}*/
.no-gutter.row,
.no-gutter.container,
.no-gutter.container-fluid{
  margin-left: 0;
  margin-right: 0;
}

.no-gutter>[class^="col-"]{
  padding-left: 0;
  padding-right: 0;
}